---
import '@/styles/main.css'

interface Props {
  title?: string | undefined
  description?: string | undefined
  author?: string | undefined
  og: string
}

const { title, description, author, og } = Astro.props
---

<head>
  <meta charset="utf-8" />
  <meta name="robots" content="index, follow" />
  <meta
    name="googlebot"
    content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
  />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <link rel="shortcut icon" type="image/png" href="./favicon.ico" />
  <title>{title}</title>
  <meta name="description" content="G5 Extreme Conditions Reached - 10/11/12 May 2024." />
  <meta property="og:site_name" content="Solar Storm" />
  <meta
    property="og:description"
    content="Solar Storm G5 Extreme Conditions Reached - 10/11/12 May 2024."
  />
  <meta name="og:image" content="https://solarstorm.vercel.app/images/weatherandsky.jpeg">
  <meta property="og:title" content="Solar Storm" />
  <meta property="og:url" content="https://solarstorm.vercel.app/" />
  <meta name="twitter:url" content="https://solarstorm.vercel.app/" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@araguaci">
  <meta name="twitter:title" content="Solar Storm G5 Extreme Conditions Reached - 10/11/12 May 2024">
  <meta name="twitter:description" content="A solar storm created auroras that were visible across much of the United States, the UK, Europe, and Aus">
  <meta name="twitter:image" content="https://solarstorm.vercel.app/images/weatherandsky.jpeg">
<!-- <meta name="title" content={title} /> -->
<!-- <meta name="description" content={description} /> -->
<!-- <meta name="author" content={author} /> -->
<!-- <meta property="og:type" content="website" /> -->
<!-- <meta property="og:url" content={Astro.url} /> -->
<!-- <meta property="og:title" content={title} /> -->
<!-- <meta property="og:description" content={description} /> -->
<!-- <meta property="og:image" content="https://solarstorm.vercel.app/images/weatherandsky.jpeg" /> -->
<!-- <meta name="twitter:url" content={Astro.url} /> -->
<!-- <meta name="twitter:title" content={title} /> -->
<!-- <meta name="twitter:description" content={description} /> -->
<!-- <meta name="twitter:image" content="https://solarstorm.vercel.app/images/weatherandsky.jpeg" /> -->
<!-- <meta name="twitter:card" content="https://solarstorm.vercel.app/images/weatherandsky.jpeg" /> -->
</head>
